<%= render partial: "header", locals: {single: false} %>

<div class="container">
  <%= paginate(@equipment) %>
    <div class="row">
      <%= render partial: "equipment", collection: @equipment, locals: {show_description: false, link_type: true,  link_equipment: true} %>
    </div>
  <%= paginate(@equipment) %>
</div>
