<%= render partial: "shared/header" %>
<h2>Equipment - Équipement</h2>

<%= render partial: "equipment", object: @equipment, locals: {show_description: true, link_type: true,  link_equipment: false} %>
