<%= render partial: "header", locals: {single: true} %>

<div class="container">
  <div class="row">
    <%= render partial: "equipment", object: @equipment, locals: {show_description: true, link_type: true,  link_equipment: false} %>
  </div>
</div>
