<h1>Canadian Armed Forces Information</h1>
<h1>Renseignements sur les Forces Armées Canadiennes</h1>
<ul>
  <li><%= link_to "Home Page - Page Principale", root_path %></li>
  <li><%= link_to "About - Sur", about_index_path %></li>
  <li><%= link_to "Operations - Opérations", operations_path %></li>
</ul>
