<%= form_with(url: search_path, method: :get, local: true) do %>
  <div>
    <div>
      <%= text_field_tag(:keywords, nil, placeholder: placeholder) %>
    </div>
    <div>
      <%= submit_tag("Search - Chercher") %>
    </div>
  </div>
<% end %>
