<h2>Home Page - Page Principale</h2>
<p>
  This website contains information regarding the operations, equipment, and rank structure of the Canadian Armed Forces.
  The source of the datasets for this project can be found on the Government of Canada Open Data Portal under the Military Subject.
  Click on the English links for the English translation of the content and French links for the French translation.
</p>
<p>
  Ce site Web contient des informations sur les opérations, l'équipement et la structure des grades des Forces armées canadiennes.
  La source des ensembles de données pour ce projet se trouve sur le Portail des données ouvertes du gouvernement du Canada sous le sujet militaire.
  Cliquez sur les liens anglais pour la traduction anglaise du contenu et sur les liens français pour la traduction française.
</p>