<h2>Home Page - Page Principale</h2>
<p>
  This website contains information regarding the operations, equipment, and rank structure of the Canadian Armed Forces.
  All information will be displayed in both French and English.
  The source of the datasets for this project can be found on the Government of Canada Open Data Portal under the Military Subject.
</p>
<p>
  Ce site Web contient des informations sur les opérations, l'équipement et la structure des grades des Forces armées canadiennes.
  Toutes les informations seront affichées en français et en anglais.
  La source des ensembles de données pour ce projet se trouve sur le Portail des données ouvertes du gouvernement du Canada sous le sujet militaire.
</p>
