<%= render partial: "shared/header"%>
<h2>
  <%= @rank_category.category_el %> -
  <%= @rank_category.category_fr%>
</h2>

<%= render partial: "ranks/rank", collection: @rank_category.ranks, locals: {rank_link: true, environment_link: true, category_link: false} %>