<h2 class="py-3">
  <%= @environment.environment_el %> -
  <%= @environment.environment_fr%>
</h2>

<div class="container">
  <div class="row">
    <%= render partial: "ranks/rank", collection: @environment.ranks, locals: {rank_link: true, environment_link: false, category_link: true} %>
  </div>
</div>

