<%= render partial: "shared/header"%>
<h2>
  <%= @environment.environment_el %> -
  <%= @environment.environment_fr%>
</h2>

<%= render partial: "ranks/rank", collection: @environment.ranks, locals: {rank_link: true, environment_link: false, category_link: true} %>
