<div>
  <div>
    <h4>Base de Données des Opérations des Forces Canadiennes</h4>
    <ul>
      <li>1 ensemble de données contenant des traductions en Anglais et en Français</li>
      <li>Dernière mise à jour 29 Janvier 2019</li>
      <li>Contient le nom de l'opération, la désignation internationale, la description, l'emplacement, la date de début et la date de fin</li>
      <li>La date de fin n'est pas toujours une date car certaines opérations étaient en cours au moment de la publication du jeu de données</li>
    </ul>
  </div>
  <div>
    <h4>Équipement des Forces Armées Canadiennes</h4>
    <ul>
      <li>2 jeux de données, 1 Français, 1 Anglais</li>
      <li>Dernière mise à jour le 13 Mars 2018</li>
      <li>Contient le nom, la description et le type d'équipement (avion, véhicule, flotte, armes)</li>
    </ul>
  </div>
  <div>
    <h4>Insigne de Nomination de Grade</h4>
    <ul>
      <li>2 jeux de données, 1 Français, 1 Anglais</li>
      <li>Dernière mise à jour le 20 décembre 2017</li>
      <li>Contient des rangs basés sur l'environnement (Marine, Armée, Force Arienne)</li>
      <li>Contient une catégorie de rang</li>
      <ul>
      <li>Officiers Généraux</li>
        <li>Officiers Supérieurs</li>
        <li>Officiers Subalternes</li>
        <li>Officiers Subordonnés</li>
        <li>Adjudants, Officiers Mariniers et Sous-Officiers Supérieurs</li>
        <li>Militaires du Rang Subalternes</li>
      </ul>
    </ul>
  </div>
</div>
