<div>
  <div>
    <h4>Canadian Forces Operations Database</h4>
    <ul>
      <li>1 Dataset containing English and French translations</li>
      <li>Last updated 29 January 2019</li>
      <li>Contains Operation Name, International Designation, Description, Location, Start Date, and End Date</li>
      <li>End date is not always a date as some operations were ongoing at the time the dataset was released</li>
    </ul>
  </div>
  <div>
    <h4>Canadian Armed Forces Equipment</h4>
    <ul>
      <li>2 Datasets, 1 French, 1 English</li>
      <li>Last updated 13 March 2018</li>
      <li>Contains equipment name, description, and equipment type (Aircraft, Vehicle, Fleet, Weapons)</li>
    </ul>
  </div>
  <div>
    <h4>Rank Appointment Insignia</h4>
    <ul>
      <li>2 Datasets, 1 French, 1 English</li>
      <li>Last updated 20 December 2017</li>
      <li>Contains ranks based on environment (Navy, Army, Air Force)</li>
      <li>Contains category of rank</li>
      <ul>
      <li>General/Flag officers</li>
        <li>Senior Officers</li>
        <li>Junior Officers</li>
        <li>Subordinate Officers</li>
        <li>Warrant Officers, Petty Officers and Senior Non-Commissioned Officers</li>
        <li>Non-Commissioned Members</li>
      </ul>
    </ul>
  </div>
</div>
