<h2><%= @location.name_el %> - <%= @location.name_fr %></h2>

<%= render partial: "operations/operation", collection: @location.operations.order("start_date DESC"), locals: {detailed: false, show_location: false, link_op: true} %>