<h2 class="py-3"><%= @location.name_el %> - <%= @location.name_fr %></h2>

<div class="container">
  <div class="row">
    <%= render partial: "operations/operation", collection: @location.operations.order("start_date DESC"), locals: {detailed: false, show_location: false, link_op: true} %>
  </div>
</div>
