<% if single_op %>
  <h2>Operation - Opération</h2>
<% else %>
  <h2>Operations - Opérations</h2>
<% end %>

<%= render partial: "shared/search_bar", locals: {search_path: search_operations_path, placeholder: "Search for Operations - Rechercher des opérations"} %>
