<%= render partial: "header", locals: {single: false} %>

<div class="container">
  <%= paginate(@operations) %>
    <div class="row">
      <%= render partial: "operation", collection: @operations, locals: {detailed: false, show_location: true, link_op: true}%>
    </div>
  <%= paginate(@operations) %>
</div>